#必须最低 2.3.1 版本
#github "ReactiveCocoa/ReactiveCocoa" >= 2.3.1

# 必须 1.x 版本
#github "Mantle/Mantle" ~> 1.0 # (大于或等于 1.0 ，小于 2.0)

# 必须 0.4.1 版本
#github "jspahrsummers/libextobjc" == 0.4.1

# 使用最新的版本
#github "jspahrsummers/xcconfigs"

# 使用一个私有项目，在 "development" 分支
#git "https://enterprise.local/desktop/git-error-translations.git" "development"


github "Moya/Moya" ~> 10.0
github "Hearst-DD/ObjectMapper" ~> 2.2

